@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

#base {
    @apply w-screen min-h-screen px-6 lg:px-42 2xl:px-[28%]
    pt-12;
}

#blur {
    pointer-events: none;
    transform-origin: bottom;
    /*animation: blur_intro 1s linear forwards;*/
}

.entry-0 {
    animation: entry 0.5s ease-in-out backwards;
}

.entry-1 {
    animation: entry 0.5s ease-in-out backwards;
    animation-delay: 0.15s;
}

.entry-2 {
    animation: entry 0.5s ease-in-out backwards;
    animation-delay: 0.3s;
}

.entry-3 {
    animation: entry 0.5s ease-in-out backwards;
    animation-delay: 0.45s;
}

.entry-4 {
    animation: entry 0.5s ease-in-out backwards;
    animation-delay: 0.6s;
}

.entry-skills-section {
    animation: entry-2 0.5s ease-in-out backwards;
    animation-delay: 0.75s;
}

.entry-6 {
    animation: entry-2 0.5s ease-in-out backwards;
    animation-delay: 0.9s;
}

.entry-7 {
    animation: entry-2 0.5s ease-in-out backwards;
    animation-delay: 1.05s;
}

.entry-blur {
    animation: blur_intro 0.5s ease-in-out backwards;
    animation-delay: 1.25s;
}

@keyframes blur_intro {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes entry {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes entry-2 {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
